streamlit>=1.51.0,<2
pandas>=2.3.3,<3.1
numpy>=2.3.4,<2.5
matplotlib>=3.10.0,<3.11
seaborn>=0.13.2,<0.14
scikit-learn>=1.8.0,<1.9
scipy>=1.17.0,<1.18
plotly>=6.3.0,<7
openpyxl>=3.1.5,<4
xgboost>=3.2.0,<4
statsmodels>=0.14.6,<0.15
